body{margin: 0; padding: 0;}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background: url(https://d24c7iq9gjhf5h.cloudfront.net/sites/default/files/styles/bigsplashcl__standard/public/hp-main-img.jpg?itok=0DRpfFnv&timestamp=1468443132) no-repeat center;
    background-size: cover;
}

#myCanvas {
    border: 1px solid #000;
}

.btn-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1080px;
    width: 100%;
    height: 80px;
    border: 1px solid #000;
    background-color: #050308;
}

.btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-transform: uppercase;
    cursor: pointer;
    background: url( https://image.flaticon.com/sprites/new_packs/283689-arrows.png) no-repeat 5% 50%;
    background-color: rgba(30, 30, 91, 1);
    background-size: 400%;
    transition: .3s;
}
.btn:hover{
    background-color:  rgb(42, 42, 126);
    transform: scale(0.9);
    box-shadow: 0 0 10px 0 rgba(255,255,255, 0.6);
}
.btn:active{
    background-color:  rgb(13, 13, 58);
}